<div class="container">
    <div class="wrapper-page">
        <div class="col-md-8">
            <div class="info-top clearfix">
                <div class="thumbnail pull-left">
                    <img ng-src="{{ story.photo }}" class="img-cover">
                </div>
                <h1 class="name">{{ story.name }}</h1>
                <ul class="authors">
                    <li ng-repeat="author in story.authors">
                        <a>{{ author.name }}</a>
                    </li>
                </ul>
                <div class="meta">
                    <div>
                        <span>Cập nhật lúc:</span>
                        <abbr>{{ story.updated_at }}</abbr>
                    </div>
                    <div>
                        <span>Thể loại:</span>
                        <abbr ng-repeat="category in story.categories">
                         <i ng-if="$index > 0">, </i>
                         <a href="">{{ category.name }}</a>
                    </abbr>
                    </div>
                </div>
            </div>
            <div class="description readable" text-collapse max-length="200" text="{{ story.description }}"></div>
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumnDefs" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên chương</th>
                        <th>Lượt đọc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chapter in story.chapters">
                        <td>{{ chapter.sort_order }}</td>
                        <td><a ui-sref="storyRead({storySlug: story.slug, chapterSlug: chapter.slug})">{{ chapter.name }}</a></td>
                        <td>{{ chapter.viewed }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>